@import '_variables';

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  margin: 0px;
  height: 300vh;
}

#topBanner{
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("../img/main-banner.jpg");
  background-position: center;
  background-size: cover;
  #nav{
    // height: 100px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: $navFont;
    font-weight: normal;
    background-color: none;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // transition: top 0.3s;
    li a:hover{
      color: $mainColor;
    }
    ul{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      list-style: none;
      align-items: center;
      li a{
        text-decoration: none;
        color: white;


      }
      .imgLogo{
        max-width: 150px;
        img{
          width: 100%;
        }
      }
    }

  }
}

.site {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-content: bottom;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-template-areas:
  // ". index-image index-masthead ."
  // ". index-sidebar index-content."
  // ". index-footer index-footer.";
  // grid-gap: 10px;
  border: 2px solid black;
  color: $mainColor;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.shopfront {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  display: block;
  margin: auto;
  height: 500px;
  width: 500px;
}

.texto {
  text-align: center;
  font-size: 20px;
}

.card {
  padding: 100px;
  // margin: -200px 600px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.card1 {
  padding: 100px;
  // margin: -200px 600px;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}
.heading {
  font-size: 50px;
  color: $mainColor;
}

.para {
  text-align: left;
}

.secondheading {
  font-size: 50px;
  color: $mainColor;
}

.thirdheading {
  font-size: 50px;
  color: $mainColor;
}

.pageContainer:after {
  content: "";
  display: block;
  clear: both;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: center;
  width: 100%;
}

.breadimage{
  border-style: solid;
  border-color: white;
  border-width: 2px;
  display: block;
  margin: auto;
  width: 400px;
  height: 360px;
}

.hotcrossbuns {
  border-style: solid;
  border-color: white;
  border-width: 2px;
  display: block;
  margin: auto;
  width: 100%;
  height: 300px;
}

.fancytitle{

  width: 100%;
  margin: 40px;

}

.main-content{

}

.sidebar{

}

.footer {
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding: 10px;
}

.green {
  background-color: green;
  width: 100%;
  height: 100%;
}

.red {
  width: 100%;
  height: 100%;
}

.blue {
  width: 100%;
  height: 100%;
}

.purple {
  background-color: purple;
  width: 100%;
  height: 100%;
}

.yellow {
  color: white;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 736px) {




}
