@import 'Variables';

body {
  background-color: black;
  margin: 0px;
  height: 300vh;
}

#topBanner{
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("../img/main-banner.jpg");
  background-position: center;
  background-size: cover;
  #nav{
    // height: 100px;
    width: 100%;
    color: white;
    font-size: 16px;
    font-family: $navFont;
    font-weight: normal;
    background-color: none;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // transition: top 0.3s;
    li a:hover{
      color: $mainColor;
    }
    ul{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      list-style: none;
      align-items: center;
      li a{
        text-decoration: none;
        color: white;


      }
      .imgLogo{
        max-width: 150px;
        img{
          width: 100%;
        }
      }
    }

  }
}

.site {
  display: grid;
  grid-template-columns: auto auto;
  // grid-template-rows: 1fr 1fr 1fr 1fr;
  // grid-template-areas:
  // ". index-image index-masthead ."
  // ". index-sidebar index-content."
  // ". index-footer index-footer.";
  // grid-gap: 10px;
  border: 2px solid black;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.breadimage{
  display: block;
  margin: auto;
  width: 60%;
  height: 400px;
}

.cabinetimage{
  display: block;
  margin: auto;
  width: 45%;
  height: 200px;
}

.fancytitle{
  width: 100%;
  margin: 20px;

}

.main-content{

}

.sidebar{

}

.footer{
  grid-area: index-footer;
}

.green {
  background-color: green;
  width: 100%;
  height: 100%;
}

.red {
  background-color: red;
  width: 100%;
  height: 100%;
}

.blue {
  background-color: blue;
  width: 100%;
  height: 100%;
}

.purple {
  background-color: purple;
  width: 100%;
  height: 100%;
}

.yellow {
  background-color: yellow;
  width: 100%;
  height: 100%;
}


@media screen and (min-width: 736px) {




}
