@import 'Variables';

body {
  background-color: black;
  margin: 0px;
  height: 300vh;
}

#topBanner{
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url("../img/main-banner.jpg");
  background-position: center;
  background-size: cover;
  #nav{
    // height: 100px;
    width: 100%;
    color: white;
    font-size: 20px;
    font-family: $navFont;
    font-weight: normal;
    background-color: none;
    // position: fixed;
    // top: 0;
    // width: 100%;
    // transition: top 0.3s;
    li a:hover{
      color: $mainColor;
    }
    ul{
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      list-style: none;
      align-items: center;
      li a{
        text-decoration: none;
        color: white;


      }
      .imgLogo{
        max-width: 150px;
        img{
          width: 100%;
        }
      }
    }

  }
}
