// Variables
* {
  margin: 0;
  padding: 0;
}


$mainColor: #c93b01;
$sectionHeading: 20px;
$navFont: arial;
$bodyFont: sans-serif;


$columns: 12;
$columnsWidth: 100% / $columns;

$mdWidth: 768px;
$lgWidth: 1200px;

.row{
  margin-bottom: 15px;
  &::after{
    clear: both;
    display: block;
    content: '';
  }
}

.logo{
  width: 200px;
  height: 200px;
  margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  color: white;
  text-align: center;
}

.home{
  font: $navFont;
}
