// Variables

$mainColor: #c93b01;
$sectionHeading: 20px;

#main-nav{
  background: black;
}

$columns: 12;
$columnsWidth: 100% / $columns;

$mdWidth: 768px;
$lgWidth: 1200px;

.row{
  margin-bottom: 15px;
  &::after{
    clear: both;
    display: block;
    content: '';
  }
}

.nav{
  margin-left: auto;
}


.col{
  float:left;
  padding-right: 15px;
  padding-left: 15px;
}

.sectionHeading a {
  text-decoration: none;
  color: white;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
